<div [hidden]="envState.checkWeb3" class="jumbotron bg-warning text-center" id="changePage">
    <h1>您要购买航班延误互助计划</h1>
    <p class="lead">您将需要一个安全的地方存储您的航班延误互助计划！像MetaMask这样的安全钱包即是完美之地。同时您也可以通过钱包（如：Parity）正常购买航班延误互助计划（无需另设密码）</p>
    <button type="button" class="btn btn-primary" (click)="installWallet()">
        安装MetaMask
    </button>
</div>

<div [hidden]="envState.checkWeb3&&envState.checkAccount" class="jumbotron bg-warning text-center" id="changePage">
    <h1>您的账号被锁住了</h1>
    <p class="lead">只需打开MetaMask并按照说明进行解锁即可</p>

</div>

<div class="container-fluid" style="background-color:rgba(255, 255,255, 0.7);z-index: 100" [ngStyle]="{'top':'56px','position':isSticky?'fixed':'relative'}">
    <div *ngIf="envState.checkEnv">
        <p [hidden]="loading" class="lead text-muted text-center mb-1">Matches</p>
        <p [hidden]="!loading" class="lead text-muted text-center mb-1">Loading...</p>
        <div [hidden]="loadingProgress == 0" class="progress" style="height: 1px;">
            <!-- <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="{{loadingProgress}}" aria-valuemin="0" aria-valuemax="100"></div> -->
            <progressbar class="progress-striped active" [value]="loadingProgress" type="info"></progressbar>
        </div>
        <div class="">
            <table class="table m-0 bg-white table-sm rounded">
                <tr>
                    <td (mouseenter)="mouseEnter($event)" (mouseleave)="mouseLeave($event)" [ngx-scroll-to-offset]="-200" [ngx-scroll-to]="game.date"
                        *ngFor="let game of games" class="text-center p-0">
                        <table class="table-sm ">
                            <tr>
                                <td class="text-center text-primary pb-0" style="border: 0;">{{game.dayOfWeek|weekday}}</td>
                            </tr>
                            <tr>
                                <td class="text-center text-dark pt-0 pb-0" style="border: 0;">{{game.day}}</td>
                            </tr>
                            <tr>
                                <td class="text-sm-center pt-0 bg-light " style="border: 0;">
                                    <span *ngFor="let in of counter(game.count)" style="font-size:1.5rem">.</span>
                                    <!-- <span *ngFor="let in of counter(game.count)"><h1  class="m-0"  >.</h1></span> -->
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>
<div *ngIf="envState.checkEnv" class="container" [ngStyle]="{'margin-top':isSticky?'270px':'56px'}">
    <div *ngFor="let game of games" class="container mb-5" id="{{game.date}}">
        <div class="row align-items-center">
            <h3 class="col mb-1">
                {{game.date|showDate}}&nbsp;&nbsp;
            </h3>
            <div class="col text-right">
                <span class="oi oi-clock text-secondary" style="font-size: 0.5rem"></span>
                <a href="javascript:void(0)" (click)="game.local = !game.local" [hidden]="game.local == false" class="text-secondary" style="font-size: 0.5rem">Chane to your time</a>
                <a href="javascript:void(0)" (click)="game.local = !game.local" [hidden]="game.local == true" class="text-secondary" style="font-size: 0.5rem">Chane to local time</a>
            </div>
        </div>
        <div class="row ">
            <table class="table table-hover mb-4">
                <tbody>
                    <tr *ngFor="let court of game.courts" (click)='show(court)' placement="top" tooltip="Go Detail">
                        <td class="align-middle" style="width:40%">
                            <img [src]="court.p1|nationFlag" style="border:1px solid #c7c6c6">&nbsp;&nbsp;&nbsp;&nbsp;{{court.p1}}
                        </td>
                        <td class="align-middle" style="width:30%">
                            <small [hidden]="!game.local">{{court.time+'000'|date:'MM-dd HH:mm':'+0300'}} Russia Time</small>
                            <h4 [hidden]="game.local">{{court.time+'000'|date:'HH:mm'}}</h4>
                        </td>
                        <td class="align-middle" style="width:30%">
                            <img [src]="court.p2|nationFlag" style="border:1px solid #c7c6c6">&nbsp;&nbsp;&nbsp;&nbsp;{{court.p2}}</td>
                    </tr>
                </tbody>
            </table>

        </div>

    </div>
</div>

<ng-template #buyTemplate>
    <div class="modal-body text-center">
        <div class="container text-center" id="chartDiv" align="center">
            <div class="row text-center">
                <div class="col">
                    <h4 class="text-secondary">Bet Info</h4>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <small class="text-secondary">Total Value</small>
                </div>
                <div class="col">
                    <small class="text-secondary">Total Bets</small>
                </div>
                <div class="col">
                    <small class="text-secondary">Average Value</small>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <h5> {{chartTitle.totalValue}}</h5>
                </div>
                <div class="col">
                    <h5>{{chartTitle.totalBets}}</h5>
                </div>
                <div class="col">
                    <h5>{{chartTitle.avg}}</h5>
                </div>
            </div>
        </div>
        <div id="chartDiv" align="center">
            <chartjs-component [chartType]="'line'" (getData)="getChartsData($event)" [dataSetLabel]="dataSetLable" [chartData]='chartData'
                [chartLabels]='chartLabels' [chartOtherInfo]='chartOtherInfo'>
            </chartjs-component>
        </div>

        <div class="row">
            <form (ngSubmit)="bet()" [formGroup]="buyForm" class="col-sm-12">
                <div class="card  bg-info" style="margin-top:15px;">
                    <table class="table">
                        <tr>
                            <td style="border:0;width:40%" class="text-left align-middle">
                                <img [src]="court.p1|nationFlag" style="border:1px solid #c7c6c6">&nbsp;&nbsp;&nbsp;&nbsp;{{court.p1}}</td>
                            <td style="border:0;width:20%;font-size: 2rem;" class="text-center align-middle" rowspan="2">VS</td>
                            <td style="border:0;width:40%" class="text-left align-middle">
                                <img [src]="court.p2|nationFlag" style="border:1px solid #c7c6c6">&nbsp;&nbsp;&nbsp;&nbsp;{{court.p2}}</td>
                        </tr>
                        <tr>
                            <td style="border:0">
                                <select class=" form-control" (change)="calculat()" formControlName="homeScore" aria-describedby="scoreHelpBlock">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value=">10">>10</option>
                                </select>
                            </td>
                            <td style="border:0">
                                <select class="form-control" (change)="calculat()" formControlName="awayScore">
                                    <option value="0">0</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                    <option value=">10">>10</option>
                                </select>
                            </td>

                        </tr>
                    </table>
                    <div class="form-group row border-bottom m-0 p-2 ">
                        <div class="input-group col-7 pl-0">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3">Your ETH:{{balance.eth}}</span>
                            </div>
                            <input type="number" class="form-control" (keyup)="getUSDValue($event)" formControlName="eth" aria-describedby="usdHelpBlock">
                        </div>
                        <small [hidden]="USDPrice == 0" id="usdHelpBlock" class="form-text text-muted align-middle m-2">
                            {{USDPrice|currency}}, ETH price get from etherscan.io.
                        </small>
                        <small [hidden]="USDPrice > 0" id="usdHelpBlock" class="form-text text-warning align-middle m-2">
                            Min bet value is {{this.chartData.limit}} eth.
                        </small>
                    </div>
                    <div class="row">
                        <div class="col">
                            <small [hidden]="!buyForm.valid" id="usdHelpBlock" class="form-text text-light align-middle m-2">
                                Currently, if you win this bet, you can win <span class="text-warning">{{betCanWin}}</span>  eth.
                            </small>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col text-center align-middle">
                            <button [hidden]="chartData.currentGameInfo.status != 0" type="submit" class="btn btn-outline-light">Submit Bet</button>
                            <button [hidden]="chartData.currentGameInfo.status != 1" type="submit" disabled class="btn btn-outline-secondary disabled"
                                readonly>Game is playing</button>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</ng-template>


<ng-template #voteTemplate>
    <div class="modal-body text-center">
        <div class="container text-center" id="chartDiv" align="center">
            <div class="row text-center">
                <div class="col">
                    <h4 class="text-secondary">Vote Info</h4>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <small class="text-secondary">Total Value</small>
                </div>
                <div class="col">
                    <small class="text-secondary">Total Bets</small>
                </div>
                <div class="col">
                    <small class="text-secondary">Average Value</small>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <h5> {{chartTitle.totalValue}}</h5>
                </div>
                <div class="col">
                    <h5>{{chartTitle.totalBets}}</h5>
                </div>
                <div class="col">
                    <h5>{{chartTitle.avg}}</h5>
                </div>
            </div>
        </div>
        <div id="chartDiv" align="center">
            <chartjs-component [chartType]="'line'" [dataSetLabel]="dataSetLable" [chartData]='chartData' [chartLabels]='chartLabels'
                [chartOtherInfo]='chartOtherInfo'>
            </chartjs-component>
        </div>

        <form (ngSubmit)="vote()" [formGroup]="voteForm">
            <div class="card  bg-info" style="margin-top:15px;">
                <div class="card-body">
                    <table class="table">
                        <tr>
                            <td style="border:0;width:40%" class="text-center align-middle">
                                <img [src]="court.p1|nationFlag" style="border:1px solid #c7c6c6">&nbsp;&nbsp;&nbsp;&nbsp;{{court.p1}}</td>
                            <td style="border:0;width:20%;font-size: 2rem;" class="text-center align-middle" rowspan="2">VS</td>
                            <td style="border:0;width:40%" class="text-center align-middle">
                                <img [src]="court.p2|nationFlag" style="border:1px solid #c7c6c6">&nbsp;&nbsp;&nbsp;&nbsp;{{court.p2}}</td>
                        </tr>
                        <tr>
                            <td style="border:0">
                                <h1>1</h1>
                            </td>
                            <td style="border:0">
                                <h1>1</h1>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-light">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-3 align-middle">
                            <div class="form-group">
                                <label for="myVote">Agree?</label>
                                <div class="btn-group" id="myVote" btnRadioGroup formControlName="voteOption">
                                    <label class="btn btn-success m-0" btnRadio="1">Yes</label>
                                    <label class="btn border-left-0 btn-outline-secondary m-0" btnRadio="0">No</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-2 text-left align-middle">
                            <div class="form-group">
                                <button type="submit" class="btn btn-outline-light">Submit Vote</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</ng-template>
