<div *ngIf="!envState.checkWeb3" class="jumbotron bg-warning text-center" id="changePage">
    <h1>您要购买航班延误互助计划</h1>
    <p class="lead">您将需要一个安全的地方存储您的航班延误互助计划！像MetaMask这样的安全钱包即是完美之地。同时您也可以通过钱包（如：Parity）正常购买航班延误互助计划（无需另设密码）</p>
    <button type="button" class="btn btn-primary" (click)="installWallet()">
        安装MetaMask
    </button>
</div>

<div *ngIf="envState.checkWeb3&&!envState.checkAccount" class="jumbotron bg-warning text-center" id="changePage">
    <h1>您的账号被锁住了</h1>
    <p class="lead">只需打开MetaMask并按照说明进行解锁即可</p>

</div>

<div class="container-fluid" style="background-color: #FFFFFF;z-index: 100" [ngStyle]="{'top':'56px','position':isSticky?'fixed':'relative'}">
    <div *ngIf="envState.checkEnv" class="container">
        <p class="lead">Matches</p>
        <div class="row justify-content-md-center">
            <table class="table">
                <tr>
                    <td *ngFor="let game of games" class="text-center">
                        {{game.dayOfWeek|weekday}}
                    </td>
                </tr>
                <tr>
                    <td *ngFor="let game of games" class="text-center">
                        {{game.day}}
                    </td>
                </tr>
                <tr>
                    <td *ngFor="let game of games" class="text-center">
                        {{game.count}}
                    </td>
                </tr>
            </table>
        </div>

    </div>
</div>
<div *ngIf="envState.checkEnv" class="container-fluid">
    <div *ngFor="let game of games" class="container">
        <div class="row ">
            <p>
                {{game.date}}
            </p>
            <table class="table">

                <tbody>
                    <tr *ngFor="let court of game.courts">
                        <td style="width:20%" class="text-center">{{court.p1}}</td>
                        <td style="width:40%" class="text-center">{{court.time+'000'|date:'yyyy-MM-dd HH:mm'}}</td>
                        <td style="width:20%" class="text-center">{{court.p2}}</td>
                        <td style="width:20%" class="text-center"><button type="button" (click)='gotoCourt()' class="btn btn-primary btn-sm">详情</button></td>
                    </tr>

                </tbody>
            </table>

        </div>

    </div>
</div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div style="text-align: center">Content Test</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div style="text-align: center">Content Test</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div style="text-align: center">Content Test</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div style="text-align: center">Content Test</div>
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<div style="text-align: center">Content Test</div>
