<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }">

</ngx-loading>

<nav class="navbar fixed-top  navbar-expand-lg navbar-light bg-info">
    <a class="navbar-brand" href="/fifa">WORLD CUP BETS</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
        aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

    <div class="collapse navbar-collapse " id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto justify-content-center">
            <li class="nav-item active">
                <a class="nav-link" href="/fifa">Home </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/fifa/exchange">Exchange</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/trans">Transactions</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/aboutUs">About Us</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/faq">FAQ</a>
            </li>
        </ul>
    </div>
</nav>


<!--The content below is only a placeholder and can be replaced.-->
<main role="container-fluid">
    <router-outlet></router-outlet>
</main>

<ng-template #alertTemplate>
    <div class="modal-body text-center">
        <p>{{tip.msg}}</p>
        <button type="button" class="btn btn-primary" (click)="closeAlert()">确定</button>
    </div>
</ng-template>
