<div [hidden]="envState.checkWeb3" class="jumbotron bg-warning text-center">
    <h1>Wanna play?</h1>
    <p class="lead">You’ll need a safe place to store all of your bets! The perfect place is in a secure wallet like MetaMask. This will
        also act as your login to the game (no extra password needed).</p>
    <button type="button" class="btn btn-primary" (click)="installWallet()">
        Install MetaMask
    </button>
</div>
<div [hidden]="!envState.checkWeb3||envState.checkAccount" class="jumbotron bg-warning text-center">
    <h1>Your MetaMask is locked</h1>
    <p class="lead">Simply open MetaMask and follow the instructions to unlock it</p>
</div>
<div [hidden]="loadingProgress == 0" class="progress mt-5" style="height: 1px;">
    <!-- <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="{{loadingProgress}}" aria-valuemin="0" aria-valuemax="100"></div> -->
    <progressbar class="progress-striped active" [value]="loadingProgress" type="info"></progressbar>
</div>
<div *ngIf="showFlag == 0" [hidden]="!envState.checkEnv" class="text-center mt-2">
    <div class="container text-center" id="chartDiv" align="center">
        <div class="row text-center">
            <div class="col">
                <small class="text-secondary">Total Value</small>
            </div>
            <div class="col">
                <small class="text-secondary">Total Bets</small>
            </div>
            <div class="col">
                <small class="text-secondary">Average Value</small>
            </div>
        </div>
        <div class="row text-center">
            <div class="col">
                <h5> {{chartTitle.totalValue}}</h5>
            </div>
            <div class="col">
                <h5>{{chartTitle.totalBets}}</h5>
            </div>
            <div class="col">
                <h5>{{chartTitle.avg}}</h5>
            </div>
        </div>
    </div>
    <div *ngIf="chartData" id="chartDiv" align="center">
        <chartjs-component [chartType]="'line'" (getData)="getChartsData($event)" [dataSetLabel]="dataSetLable" [chartData]='chartData'
            [chartLabels]='chartLabels'>
        </chartjs-component>
    </div>
    <div class="container">
        <div *ngIf="chartData" class="row bg-c-light">
            <form (ngSubmit)="bet()" [formGroup]="buyForm" class="col form">
                <div class="card" style="margin-top:15px;background: none;">
                    <div class="form-group row  mt-2 align-middle">
                        <!-- <label for="staticEmail" class="col-5 col-form-label">
                          <h3 class="text-success mb-0">The Final Champion</h3>
                        </label> -->
                        <div class="col-6 offset-3">
                            <!-- <select class="form-control" (change)="calculat()" formControlName="champion" aria-describedby="scoreHelpBlock">
                                <option *ngFor="let player of willWinChampionPlayers">
                                    {{player}}
                                </option> 
                            </select> -->
                            <ngx-select [items]="willWinChampionPlayers" (select)="calculat()" [size]="'large'" [(formControl)]="champion" placeholder="The champion is">
                                <ng-template ngx-select-option ngx-select-option-selected let-option let-text="text" style="width: 100%;">
                                    <img [src]="option.data|nationFlag:contries" style="border:1px solid #c7c6c6;height: 20px;">&nbsp;&nbsp;&nbsp;&nbsp;
                                    <span [innerHtml]="text"></span>&nbsp;&nbsp;&nbsp;&nbsp;
                                </ng-template>

                                <ng-template ngx-select-option-not-found>
                                    Nothing found
                                </ng-template>
                            </ngx-select>
                        </div>
                    </div>
                    <div [hidden]="chartData && chartData.currentGameInfo.status != 0">
                        <div class="form-group row align-items-center border-bottom m-0 p-2 ">
                            <div class="input-group col-7 pl-0">
                                <div class="input-group-prepend">
                                    <span class="input-group-text" id="basic-addon3">Ether:{{balance.eth}}</span>
                                </div>
                                <input type="number" class="form-control" (keyup)="getUSDValue($event)" (change)="getUSDValue($event)" formControlName="eth"
                                    aria-describedby="usdHelpBlock">
                            </div>
                            <small [hidden]="USDPrice == 0 || eth.invalid" id="usdHelpBlock" class="form-text text-muted align-middle m-2">
                                {{USDPrice|currency}}, ETH price get from etherscan.io.
                            </small>
                            <small [hidden]="USDPrice > 0 || eth.invalid" id="usdHelpBlock" class="form-text text-warning align-middle m-2">
                                Min bet value is {{this.chartData.limit}} eth.
                            </small>
                            <small *ngIf="eth.invalid && (eth.dirty || eth.touched)" class="text-danger">
                                <div *ngIf="eth.errors.required">
                                    required
                                </div>
                                <div *ngIf="eth.errors.min">
                                    min value is 0.01
                                </div>
                            </small>
                        </div>
                        <div class="row">
                            <div class="col text-left">
                                <p [hidden]="!buyForm.valid || chartData.currentGameInfo.status != 0 || betCanWin == 0" id="usdHelpBlock" class="form-text text-main align-middle m-2">
                                    Estimated win:
                                    <span class="h5 text-warning">{{betCanWin}} Ether</span>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row p-2">
                        <div class="col text-center align-middle">
                            <button [hidden]="chartData.currentGameInfo.status != 0" type="submit" [disabled]="!buyForm.valid" class="btn btn-outline-primary">MAKE A BET</button>
                            <button [hidden]="chartData.currentGameInfo.status != 1" type="submit" disabled class="btn btn-outline-secondary disabled"
                                readonly>Stop betting Watch the game</button>
                            <button (click)="back()" type="button" class="btn btn-light">Back</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<div *ngIf="showFlag == 1" [hidden]="!envState.checkEnv" class="text-center">
    <div class="modal-body text-center">
        <div class="container text-center" id="chartDiv" align="center">
            <div class="row text-center">
                <div class="col">
                    <small class="text-secondary">Total Votes</small>
                </div>
                <div class="col">
                    <small class="text-secondary">Yes Count</small>
                </div>
                <div class="col">
                    <small class="text-secondary">No Count</small>
                </div>
            </div>
            <div class="row text-center">
                <div class="col">
                    <h5> {{chartTitle.totalCount}}</h5>
                </div>
                <div class="col">
                    <h5>{{chartTitle.yesCount}}</h5>
                </div>
                <div class="col">
                    <h5>{{chartTitle.noCount}}</h5>
                </div>
            </div>
        </div>
        <div *ngIf="chartData" id="chartDiv" align="center">
            <chartjs-component (getCharts)="setChartsComponent($event)" [chartType]="'line'" [dataSetLabel]="dataSetLable" [chartData]='chartData'
                [chartLabels]='chartLabels'>
            </chartjs-component>
            <div class="row">
                <div [hidden]="chartsFlag" class="col">
                    <button type="button" (click)="refreshCharts(0)" class="btn btn-link">Bets Info</button>
                </div>
            </div>
        </div>

        <form *ngIf="chartData" (ngSubmit)="vote()" [formGroup]="voteForm">
            <div class="card  bg-c-light" style="margin-top:15px;">
                <div class="card-header pb-0">
                    <div class="row text-center">
                        <div class="col">
                            <h4 class="text-main">Vote Target</h4>
                        </div>
                    </div>
                </div>
                <div class="card-body pt-0 pb-0">
                    <table class="table mb-0">
                        <tr>
                            <td style="border:0">
                                <h1>
                                    <span class="text-success">{{chartData.target}}</span> is final champion!</h1>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="card-footer text-main">
                    <div class="row align-items-center justify-content-center">
                        <div class="col-4 align-middle">
                            <div class="form-group">
                                <label class="small" for="myVote">Vote:
                                    <span class="text-success">{{voteOption.value == 1? 'YES': 'NO'}}</span>
                                </label>
                                <div class="btn-group" id="myVote" btnRadioGroup formControlName="voteOption">
                                    <label class="btn btn-success m-0" [class.active]="voteOption.value == 1" btnRadio="1">YES</label>
                                    <label class="btn border-left-0 btn-outline-secondary m-0" [class.active]="voteOption.value == 0" btnRadio="0">NO</label>
                                </div>
                            </div>
                        </div>
                        <div class="col-4 text-left align-middle">
                            <div class="form-group">
                                <button [hidden]="chartData.currentGameInfo && chartData.currentGameInfo.status != 2" type="submit" class="btn btn-outline-primary">MAKE A VOTE</button>
                                <button [hidden]="chartData.currentGameInfo && chartData.currentGameInfo.status != 3" type="submit" disabled class="btn btn-outline-secondary disabled"
                                    readonly>VOTTING ENDED</button>
                                <button (click)="back()" type="button" class="btn btn-light">Back</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
