<div [hidden]="envState.checkWeb3" class="jumbotron bg-warning text-center">
    <h1>Wanna play?</h1>
    <p class="lead">You’ll need a safe place to store all of your bets! The perfect place is in a secure wallet like MetaMask. This will
        also act as your login to the game (no extra password needed).</p>
    <button type="button" class="btn btn-primary" (click)="installWallet()">
        Install MetaMask
    </button>
</div>

<div [hidden]="!envState.checkWeb3||envState.checkAccount" class="jumbotron bg-warning text-center">
    <h1>Your MetaMask is locked</h1>
    <p class="lead">Simply open MetaMask and follow the instructions to unlock it</p>
</div>

<div class="bg-c-light mt-5">
    <div [hidden]="!envState.checkEnv" class="container">
        <div [hidden]="loadingProgress == 0" class="progress" style="height: 1px;">
            <!-- <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="{{loadingProgress}}" aria-valuemin="0" aria-valuemax="100"></div> -->
            <progressbar class="progress-striped active" [value]="loadingProgress" type="info"></progressbar>
        </div>
        <!-- <div class="row">
            <div class="col"> -->
        <tabset>
            <tab id="Bets" heading="My Bets" id="tab1" (select)="onSelect($event)">
                <div class="row align-items-center">
                    <div class="col text-right">
                        <span class="oi oi-loop-circular text-secondary" style="font-size: 0.5rem"></span>
                        <a href="javascript:void(0)" (click)="refresh(1)" class="text-secondary" style="font-size: 0.5rem">Refresh Data</a>
                    </div>
                </div>
                <div class="card  p-3 mt-3">
                    <table class="table table-striped table-sm mb-4" *ngFor="let info of betInfos">
                        <thead class="border-bottom-0">
                            <tr>
                                <th scope="col" colspan="3" class="pl-3">
                                    <img [src]="info.gameInfo.p1|nationFlag" style="border:1px solid #c7c6c6">
                                    <p class="d-inline small">{{info.gameInfo.time+'000'|date:'yyyy-MM-dd HH:mm'}}</p>
                                    <img [src]="info.gameInfo.p2|nationFlag" style="border:1px solid #c7c6c6">
                                </th>
                                <th scope="col" class="align-middle text-right text-success pr-3">
                                    <small>status:</small> {{info.gameInfo.status | gameStatus}}
                                </th>
                            </tr>
                        </thead>
                        <thead class="">
                            <tr class="text-center">
                                <th>
                                    Score
                                </th>
                                <th>
                                    Value
                                </th>
                                <th>
                                    Win eth?
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let bet of info.scoreInfos" class="text-center">
                                <td>
                                    {{bet.score}}
                                </td>
                                <td class="align-middle">
                                    {{bet.value | fromWei}}
                                    <small>ETH</small>
                                </td>
                                <td>
                                    {{bet.win}}
                                </td>
                                <td>
                                    <button *ngIf="bet.win > 0 && !bet.paid" type="button" (click)="winBet(info.gameInfo,bet)" class="btn btn-outline-info btn-sm">Claim Bonus</button>
                                    <button *ngIf="bet.paid" type="button" disabled class="btn btn-outline-secondary btn-sm">Already Claimed</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab id="Votes" heading="My Votes" (select)="onSelect($event)">
                <div class="row align-items-center">
                    <div class="col text-right">
                        <span class="oi oi-loop-circular text-secondary" style="font-size: 0.5rem"></span>
                        <a href="javascript:void(0)" (click)="refresh(2)" class="text-secondary" style="font-size: 0.5rem">Refresh Data</a>
                    </div>
                </div>
                <div class="card  p-3 mt-3">
                    <table class="table table-striped table-sm mb-4" *ngFor="let info of voteInfos">
                        <thead class="border-bottom-0">
                            <tr>
                                <th scope="col" colspan="3" class="pl-3">
                                    <img [src]="info.gameInfo.p1|nationFlag" style="border:1px solid #c7c6c6">
                                    <p class="d-inline small">{{info.gameInfo.time+'000'|date:'yyyy-MM-dd HH:mm'}}</p>
                                    <img [src]="info.gameInfo.p2|nationFlag" style="border:1px solid #c7c6c6">
                                </th>
                                <th scope="col" class="align-middle text-right text-success pr-3">
                                    <small>status:</small> {{info.gameInfo.status | gameStatus}}
                                </th>
                            </tr>
                        </thead>
                        <thead class="">
                            <tr class="text-center">
                                <th>
                                    Vote
                                </th>
                                <th>
                                    Weight
                                </th>
                                <th>
                                    Win eth?
                                </th>
                                <th>

                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="text-center">
                                <td>
                                    {{info.voteInfo.vote}}
                                </td>
                                <td class="align-middle">
                                    {{info.voteInfo.value | fromWei}} ({{info.voteInfo.weight}}%)
                                </td>
                                <td>
                                    {{info.voteInfo.win}}
                                </td>
                                <td>
                                    <button *ngIf="info.voteInfo.win > 0 && !info.voteInfo.paid" type="button" (click)="claimVote(info)" class="btn btn-outline-info btn-sm">Claim Bonus</button>
                                    <button *ngIf="info.voteInfo.paid" type="button" disabled class="btn btn-outline-secondary btn-sm">Already Claimed</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </tab>
            <tab id="Balance" heading="My Balance" (select)="onSelect($event)">
                <div class="row align-items-center">
                    <div class="col text-right">
                        <span class="oi oi-loop-circular text-secondary" style="font-size: 0.5rem"></span>
                        <a href="javascript:void(0)" (click)="refresh(3)" class="text-secondary" style="font-size: 0.5rem">Refresh Data</a>
                    </div>
                </div>
                <div class="card  p-3 mt-3">
                    <div class="card-body">
                        <div class="row text-center">
                            <div class="col">
                                <small class="text-secondary">ETH</small>
                            </div>
                            <div class="col">
                                <small class="text-secondary">Vote Token</small>
                            </div>
                            <div class="col">
                                <small class="text-secondary">Can Withdraw</small>
                            </div>
                        </div>
                        <div class="row text-center">
                            <div class="col">
                                <h5> {{myBalance.eth}}</h5>
                            </div>
                            <div class="col">
                                <h5>{{myBalance.token}}</h5>
                            </div>
                            <div class="col">
                                <h5>{{myBalance.withdraw | fromWei}}</h5><button *ngIf="myBalance.withdraw > 0" type="button"
                                    (click)="withdraw()" class="btn btn-outline-primary btn-sm">Withdraw</button>
                            </div>
                        </div>
                    </div>
                </div>
            </tab>
        </tabset>
        <!-- </div>
        </div> -->
    </div>

</div>