.vscode/
node_modules/
/build/
/build/contracts/
installed_contracts/
dump.rdb
/flightDelayClient/node_modules/
migrations/db.json
/worldCupClient/dist.tar
/worldCupClient/dist/
/worldCupClient/ethsb.gethub.io.tar
/worldCupClient/ethsb.gethub.io/