<div style="background-attachment: fixed;background-image: url('/assets/images/flight.jpg');background-size:cover;height:100%">
  <div class="jumbotron" style="opacity: 0.9;">
    <h1>互助说明</h1>
    <p class="lead">说明详细文案</p>
    <a class="btn btn-lg btn-primary" [ngx-scroll-to]="'changePage'" href="javascript:void(0)" role="button">参加 &raquo;</a>
  </div>
</div>
<div class="jumbotron" >
  <h1>互助说明</h1>
  <p class="lead">说明详细文案</p>
  <a class="btn btn-lg btn-primary" href="#" role="button">参加 &raquo;</a>
</div>
<div class="jumbotron" id="changePage" style="margin-top:1100px;">
  <h1>代币兑换</h1>
  <p class="lead">说明详细文案</p>
  <a class="btn btn-lg btn-primary" href="#" role="button">参加 &raquo;</a>
</div>
