/* You can add global styles to this file, and also import other style files */

.modal-dialog {
    min-height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: auto;
}

@media(max-width: 768px) {
    .modal-dialog {
        min-height: calc(100vh - 20px);
    }
}

body {
    overflow-x: hidden;
    padding-top: 3rem;
}

p {
    line-height: 1.75;
}

.bg {
    background-image: url(assets/images/9401665.jpg);
    height: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.bg-header {
    background-image: url(assets/images/bg-header.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

jumbotron.bg-c-light, .bg-c-light {
    background-image: url(assets/images/pattern.svg);
}

a {
    color: #fed136;
}

a:hover {
    color: #fec503;
}

.text-primary {
    color: #fed136 !important;
}

.text-main {
    color: #3C3C3D !important;
}

.card.bg-main, .jumbotron.bg-main {
    background-color: #ECF0F1;
}
.bg-main {
    background-color: #99FFCC !important;
}
.bg-nav {
    background-color: rgba(255, 255, 255, 1) !important;
}
.bg-s {
    background-color: rgba(236, 340, 241, 0.5) !important;
}

#chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    z-index: 10000;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}

.chartjs-tooltip-key {
    display: inline-block;
    width: 10px;
    height: 10px;
    margin-right: 10px;
}