<div [hidden]="envState.checkWeb3" class="jumbotron bg-warning text-center" id="changePage">
    <h1>您要购买航班延误互助计划</h1>
    <p class="lead">您将需要一个安全的地方存储您的航班延误互助计划！像MetaMask这样的安全钱包即是完美之地。同时您也可以通过钱包（如：Parity）正常购买航班延误互助计划（无需另设密码）</p>
    <button type="button" class="btn btn-primary" (click)="installWallet()">
        安装MetaMask
    </button>
</div>

<div [hidden]="envState.checkWeb3&&envState.checkAccount" class="jumbotron bg-warning text-center" id="changePage">
    <h1>您的账号被锁住了</h1>
    <p class="lead">只需打开MetaMask并按照说明进行解锁即可</p>

</div>

<div [hidden]="!envState.checkWeb3" class="jumbotron jumbotron-fluid bg-white">
    <div class="container">
        <div class="card bg-light p-3">
            <p class="lead m-0">My Bets</p>
            <table class="table table-striped table-sm mb-4" *ngFor="let info of betInfos">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col" colspan="2" class="pl-3">
                            <img [src]="info.gameInfo.p1|nationFlag" style="border:1px solid #c7c6c6">
                            <p class="text-light d-inline small">{{info.gameInfo.time+'000'|date:'yyyy-MM-dd HH:mm'}}</p>
                            <img [src]="info.gameInfo.p2|nationFlag" style="border:1px solid #c7c6c6">
                        </th>
                        <th scope="col" class="align-middle text-right text-info pr-3">
                            <small>status:</small> {{info.gameInfo.status | gameStatus}}
                        </th>
                    </tr>
                </thead>
                <thead class="">
                    <tr class="text-center">
                        <th>
                            Score
                        </th>
                        <th>
                            Value
                        </th>
                        <th>
                            Win?
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let bet of info.scoreInfos" class="text-center">
                        <td>
                            {{bet.score}}
                        </td>
                        <td>
                            {{bet.value | fromWei}}
                        </td>
                        <td>
                            {{bet.win}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
