<!-- <div>
    <br>
    <br>
    <br>
    <br>
    <h1>Join us as a partner and GET PAID!</h1>
    <p>1. Our project want to be more open and more transparent. So we want judgers from all over the world.</p>
    <p>2. You can exchange our vote token which called KOT with your ETH on this page.</p>
    <p>3. Once a game result is set by administrator, you can vote with your KOT to support or oppose administrator's judgement.</p>
    <p>4. Once a game result is comfirmed, all voters who voted correctly will share 5% eth of the bet by percent.</p>
</div> -->

<div id="top"></div>
<div [hidden]="envState.checkWeb3" class="jumbotron bg-warning text-center">
    <h1>Wanna play?</h1>
    <p class="lead">You’ll need a safe place to store all of your bets! The perfect place is in a secure wallet like MetaMask. This will
        also act as your login to the game (no extra password needed).</p>
    <button type="button" class="btn btn-primary" (click)="installWallet()">
        Install MetaMask
    </button>
</div>
<div [hidden]="!envState.checkWeb3||envState.checkAccount" class="jumbotron bg-warning text-center">
    <h1>Your MetaMask is locked</h1>
    <p class="lead">Simply open MetaMask and follow the instructions to unlock it</p>
</div>
<div [hidden]="!envState.checkEnv" class="bg">
    <div class="row">
        <div class="col">
            <div class="jumbotron jumbotron-fluid mb-0 p-5" style="background: none;">
                <div class="container text-white">
                    <h1 class="display-4  pt-4">KOT Voting Token</h1>
                    <p class="lead ">KOT is token for voting system, the purpose of which enables players to vote on match results in order
                        to gain ETH.
                    </p>
                    <p class="">Token can be exchanged with ETH at a fixed rate 5. Token`s total supply will be set at 10000.</p>
                    <p class="">KOT can be
                        <a class="text-dark" href="javascript:void(0)" (click)="showWModal()" [ngx-scroll-to]="'inputForm'">converted back</a> to ETH at anytime at the same exact rate it was exchanged. The resulting ETH can
                        be
                        <a class="text-dark" href="javascript:void(0)" (click)="withdraw()">sent to</a> address as user's metamask selected.</p>
                    <p class="">You can gain ETH by holding tokens and actively participating in the voting.</p>
                    <div class="row">
                        <div class="col">
                            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
                                width="140" height="140">
                            <h2>Heading</h2>
                            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
                                vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent
                                commodo cursus magna.</p>
                            <p>
                                <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
                            </p>
                        </div>
                        <div class="col">
                            <img class="rounded-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" alt="Generic placeholder image"
                                width="140" height="140">
                            <h2>Heading</h2>
                            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit.
                                Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo,
                                tortor mauris condimentum nibh.</p>
                            <p>
                                <a class="btn btn-secondary" href="#" role="button">View details &raquo;</a>
                            </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="text-center" style="margin-top: 5rem;">
                                <a class="btn btn-primary btn-lg" href="javascript:void(0)" (click)="showExModal()" [ngx-scroll-to]="'inputForm'" role="button">Get Token</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row" id="inputForm">
        <div class="col">
            <div class="jumbotron jumbotron-fluid" style="background: none;">
                <div class="container">
                    <form (ngSubmit)="exchange()" class="form pt-5 " [formGroup]="form">
                        <div class="card bg-c-light text-center m-5">
                            <div class="card-header" [hidden]="withdrawFlag">
                                <div class=" text-center" id="chartDiv" align="center">
                                    <div class="row text-center">
                                        <div class="col">
                                            <small class="text-main">Total Supply</small>
                                        </div>
                                        <div class="col">
                                            <small class="text-main">Remain</small>
                                        </div>
                                        <div class="col">
                                            <small class="text-main">Exchange Rate</small>
                                        </div>
                                    </div>
                                    <div class="row text-center">
                                        <div class="col">
                                            <h5>{{totalSupply}}</h5>
                                        </div>
                                        <div class="col">
                                            <h5>{{scTokenBalance}}</h5>
                                        </div>
                                        <div class="col">
                                            <h5>{{rate}}</h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body">
                                <div class="form-group row align-items-center">
                                    <label class="col-3 col-form-label text-main text-right" style="font-size:1.2rem">Wallet Address</label>
                                    <div class="col-9">
                                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{envState.account}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label text-main text-right" style="font-size:1.2rem">Balance Of ETH</label>
                                    <div class="col-9">
                                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{balance.eth}}">
                                    </div>

                                </div>
                                <div class="form-group row">
                                    <label class="col-3 col-form-label text-main text-right" style="font-size:1.2rem">Balance Of KOT</label>
                                    <div class="col-9">
                                        <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{balance.token}}">
                                    </div>
                                </div>
                                <div *ngIf="!withdrawFlag" class="form-group row pt-3 align-items-center justify-content-center">
                                    <div class="input-group col-3 text-center">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3">ETH</span>
                                        </div>
                                        <input type="number" class="col form-control" (change)="ethChange()" formControlName="ethValue">
                                    </div>
                                    <small *ngIf="ethValue.invalid && (ethValue.dirty || ethValue.touched)" class="text-danger">
                                        <div *ngIf="ethValue.errors.required">
                                            required
                                        </div>
                                    </small>
                                    <div class="col-1">
                                        <span class="oi oi-arrow-thick-right large"></span>
                                    </div>
                                    <div class="input-group col-3  text-cente">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3">KOT</span>
                                        </div>
                                        <input type="number" class="form-control" (change)="kotChange()" formControlName="kotValue">
                                    </div>
                                    <small *ngIf="kotValue.invalid && (kotValue.dirty || kotValue.touched)" class="text-danger">
                                        <div *ngIf="kotValue.errors.required">
                                            required
                                        </div>
                                        <div *ngIf="kotValue.errors.min">
                                            min value is 1
                                        </div>
                                    </small>
                                </div>
                                <div *ngIf="withdrawFlag" class="form-group row  pt-3 align-items-center justify-content-center">
                                    <div class="input-group col-3  text-cente">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3">KOT</span>
                                        </div>
                                        <input type="number" class="col form-control" (keyup)="kotChange()" formControlName="kotValue">
                                    </div>
                                    <small *ngIf="kotValue.invalid && (kotValue.dirty || kotValue.touched)" class="text-danger">
                                        <div *ngIf="kotValue.errors.required">
                                            required
                                        </div>
                                        <div *ngIf="kotValue.errors.min">
                                            min value is 1
                                        </div>
                                    </small>
                                    <div class="col-1">
                                        <span class="oi oi-arrow-thick-right large"></span>
                                    </div>
                                    <div class="input-group col-3 text-center">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text" id="basic-addon3">ETH</span>
                                        </div>
                                        <input type="number" class="col form-control" (keyup)="ethChange()" formControlName="ethValue">
                                    </div>
                                    <small *ngIf="ethValue.invalid && (ethValue.dirty || ethValue.touched)" class="text-danger">
                                        <div *ngIf="ethValue.errors.required">
                                            required
                                        </div>
                                    </small>
                                </div>
                                <div class="row border-top p-2">
                                    <div class="col text-center align-middle">
                                        <button type="submit" [disabled]="!form.valid" class="btn btn-outline-primary">Exchange</button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </form>
                    <p class="float-right">
                        <a class="text-primary" [ngx-scroll-to]="'top'">
                            <i class="icon-arrow-up text-primary icon-2x"></i>
                        </a>
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- <ng-template #exTemplate> -->
<!-- </ng-template> -->
