<alert *ngIf='!isSupportBrowser' type="danger" class="fixed-top" style="z-index: 5000">
    <strong>您只能在Chrome或Firefox等桌面浏览器上使用航班延误互助计划</strong>
</alert>


<nav class="navbar navbar-expand-md navbar-light fixed-top bg-light">
    <a class="navbar-brand" href="#">航班延误互助计划</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse"
        aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">主页<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">信息</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">关于我们</a>
            </li>
        </ul>
    </div>
</nav>

<ngx-loading [show]="loading" [config]="{ backdropBorderRadius: '14px',fullScreenBackdrop:true }"></ngx-loading>


<!--The content below is only a placeholder and can be replaced.-->
<main role="container-fluid">
    <router-outlet></router-outlet>
</main>
