<div class="jumbotron">
    <button type="button" class="btn btn-primary" (click)="transfer()">向{{account}}转10000个token</button>
    <h3>{{balance.token}}</h3>
</div>


<div class="jumbotron">
    <button type="button" class="btn btn-primary" (click)="setAdmin()">航延的合约地址加入到hbstorage合约的admins</button>
    <h3>isAdmin: {{isAdmin}}</h3>
</div>


<div class="jumbotron">
    <div class="card-body">
        <form (ngSubmit)="endVote()" [formGroup]="form" class="col-sm-12">
            <div class="form-group row">

                <label for="flightNO" class="col text-right align-self-center" style="font-size:1.2rem">您的航班号：</label>
                <input type="text" class="col form-control-lg" id="flightNO" formControlName="flightNO" placeholder="航班号">
                <label for="flightDate" class="col text-right align-self-center" style="font-size:1.2rem">出发日期：</label>
                <input type="text" class="col form-control-lg" id="flightDate" formControlName="flightDate" placeholder="航班日期" bsDatepicker
                    [minDate]="minDate" placement="top" [bsConfig]="{ dateInputFormat: 'YYYY-MM-DD' }">
            </div>

            <button type="submit" class="btn btn-primary">结束投票onlyOwner</button>
        </form>
    </div>

</div>
