<div class="jumbotron bg-default">
    <div id="accordion">
        <div class="card" *ngFor="let faq of faqs; let idx = index;" style="margin-bottom: 5px;">
            <div class="card-header" id="heading{{idx}}">
                <div class="row" data-toggle="collapse" [attr.data-target]="'#collapse' + idx" [attr.aria-expanded]="'true'" [attr.aria-controls]="'collapse' + idx">
                    <div class="col">{{faq.question}}</div>
                </div>
            </div>
            <div id="collapse{{idx}}" class="collapse" [attr.aria-labelledby]="'heading' + idx" data-parent="#accordion">
                <div class="card-body">
                    <p style="padding-left:24px;">{{faq.title}}</p>
                    <ul>
                        <li *ngFor=" let answer of faq.answers ">{{answer}}</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
