<div class="jumbotron bg-default mb-1">
    <h1>Getting Started</h1>
    <div id="faqs">
        <div class="card bg-main" *ngFor="let faq of faqs; let idx = index;" style="margin-bottom: 5px;">
            <div class="card-header" id="heading{{idx}}">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#collapse' + idx" [attr.aria-expanded]="'true'" [attr.aria-controls]="'collapse' + idx">
                        {{faq.question}}
                    </button>
                </h5>
            </div>
            <div id="collapse{{idx}}" class="collapse" [attr.aria-labelledby]="'heading' + idx" data-parent="#faqs">
                <div class="card-body text-secondary">
                    <p style="padding-left:24px;">{{faq.title}}</p>
                    <ul>
                        <li *ngFor=" let answer of faq.answers "[innerHtml]="answer" ></li>
                    </ul>
                    <div class="text-center" [innerHtml]="faq.other"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="jumbotron bg-default mb-1">
        <h1>About This Game</h1>
        <div id="abouts">
            <div class="card bg-main" *ngFor="let about of abouts; let idx = index;" style="margin-bottom: 5px;">
                <div class="card-header" id="heading{{idx}}">
                    <h5 class="mb-0">
                        <button class="btn btn-link" data-toggle="collapse" [attr.data-target]="'#aboutCollapse' + idx" [attr.aria-expanded]="'true'" [attr.aria-controls]="'aboutCollapse' + idx">
                            {{about.question}}
                        </button>
                    </h5>
                </div>
                <div id="aboutCollapse{{idx}}" class="collapse" [attr.aria-labelledby]="'heading' + idx" data-parent="#abouts">
                    <div class="card-body text-secondary">
                        <p style="padding-left:24px;">{{about.title}}</p>
                        <ul>
                            <li *ngFor=" let answer of about.answers "[innerHtml]="answer" ></li>
                        </ul>
                        <div class="text-center" [innerHtml]="about.other"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>