<div class="jumbotron bg-info text-center " id="myAction">
    <h1>理赔详情</h1>
    <div class="row justify-content-md-center">
        <div class="card-body">
            <div class="form-group row">
                <label for="staticEmail" class="col col-form-label text-right" style="font-size:1.2rem">航班号：</label>
                <div class="col">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{sfInfo.sfInfo?.flightNO}}">
                </div>
                <label class="col col-form-label text-right" style="font-size:1.2rem">出发日期：</label>
                <div class="col">
                    <input type="text" readonly class="form-control-plaintext" id="staticEmail" value="{{sfInfo.sfInfo?.flightDate}}">
                </div>
            </div>

            <div *ngIf="sfInfo.voteInfo" class="form-group row">
                <label class="col col-form-label text-left" style="font-size:1.2rem;color:#FFFFFF;">当前理赔状态：{{sfInfo.sfInfo.status|claimStatus}}</label>

            </div>

            <app-chart [chartTitle]="'当前投票'" [dataSetLabel]="'Bar Chart'" [chartType]="'pie'" [chartData]='chartData' [chartLabels]='chartLabels'>
            </app-chart>
        </div>

    </div>
</div>
